.site-header{
background-color: #952da5;
color: #fce7ff;
height: 100vh;
font-family: monospace;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.content{
    background-color: #ff92f0;
    border-radius: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    margin-bottom: 50px;
    width: 80%;
    padding: 25px;
    color: #000000;
}
.site-header-content{
    margin: 100px;
}
.profile-pic{
    -ms-zoom-animation: default;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    align-self: center;
    box-shadow: #2c0631 2px 5px 5px;
}

body{
    margin: 0;
}